opencv-python~=4.7.0.72
super-gradients==3.1.1
ultralytics==8.0.111
numpy==1.23.0
matplotlib~=3.7.1

requests~=2.31.0
Flask~=2.3.2
torch==1.13.0

imutils~=0.5.4
pytesseract~=0.3.10
opencv-contrib-python

flask-socketio==5.3.4



sympy~=1.12
Werkzeug~=2.3.4

Flask-Migrate
Flask-SQLAlchemy

SQLAlchemy~=2.0.20
alembic~=1.11.3

Flask-login